.verticalright-line {
    position: fixed;
    top: 10px;
    bottom: 0;
    right: 20px; /* 画面の右端に配置 */
    width: 7px; /* 線の幅 */
    background-color: rgba(0, 255, 255, 0.7); /* 線の色 */
  }

  .verticalright-line2 {
    position: fixed;
    bottom: 0;
    right: 10px; /* 画面の右端に配置 */
    width: 5px; /* 線の幅 */
    background-color: rgba(255, 255, 255, 1); /* 線の色 */
  }

  .verticalright-line3 {
    position: fixed;
    bottom: 0;
    right: 30px; /* 画面の右端に配置 */
    width: 5px; /* 線の幅 */
    background-color: rgba(255, 255, 255, 0.8); /* 線の色 */
  }

  .verticalleft-line {
    position: fixed;
    bottom: 0;
    left: 18px;
    width: 7px; /* 線の幅 */
    background-color: rgba(0, 255, 255, 0.7); /* 線の色 */
  }

  .verticalleft-line2 {
    position: fixed;
    bottom: 0;
    left: 10px; /* 画面の右端に配置 */
    width: 5px; /* 線の幅 */
    background-color: rgba(255, 255, 255, 1); /* 線の色 */
  }

  .verticalleft-line3 {
    position: fixed;
    bottom: 0;
    left: 30px; /* 画面の右端に配置 */
    width: 5px; /* 線の幅 */
    background-color: rgba(255, 255, 255, 0.8); /* 線の色 */
  }